spring:
  application:
    name: n_agent
  webflux:
    base-path: /code-agent
  data:
    mongodb:
    uri: mongodb://localhost:27017/code-agent
  ai:
    openai:
      api-key: ${OPEN_AI_KEY}
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7

server:
  port: 8080

webhook:
  github:
    secret: ${GITHUB_WEBHOOK_SECRET}

github:
  app:
    id: ${GITHUB_APP_ID}
    private-key-path: ${GITHUB_PRIVATE_KEY_PATH}

logging:
  level:
    it.np.n_agent: DEBUG